@charset "UTF-8";


@font-face {
  font-family: 'FranciscoLucas';
  src: url(../fonts/FranciscoLucass/flllna2u-webfont.woff);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'MIASMA';
  src: url(../fonts/MIASMA__.TTF);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import url('https://fonts.cdnfonts.com/css/questa'); 

/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

:root {
  
  /* Color values */
  --color-background:rgb(244, 232, 214);
  --color-text: rgba(0,0,0,1);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4);

  /* Font values */
  --font-family: 'Your Font Name', 'Helvetica', 'Arial', sans-serif;
  --font-size: 16px;

  /* Margin value */
  --margin: .5rem;




  --steps: 16; 
  --background: #1d1f20;
}



/* GENERAL STYLES */
html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);

  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

/* h2 { 
	border-right: .1em solid black;
	width: 100%; 
	width: 23ch;
	margin: 0.5em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
} */











body {
  margin: 0;
  padding: 0;
  /* width: 87.5%; */
  /*font-family: "Georgia"; */
  background-color: azure;
  color:black;
  /* max-width: 1400px; */

  counter-reset: sidenote-counter;
  transition: background-color 0.5s ease;

}

a {
  font-size: 16px;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  border: 12px sold rgb(46, 50, 167);
  font-family: 'MIASMA';
  font-size: 55px;
  letter-spacing: 2px;
  margin-top: 5rem;
}

p{
  /* paragraph style */
  background-color: browns; 
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: pretty;
}


/* .researchquestion {
  text-align: center;
  padding-left: 20rem;
  padding-right: 10rem;
  margin-bottom: 15rem;
} */


.researchquestion,
.abstract {
  /* padding-left: 20rem;
  padding-right: 10rem; */
  width: min(100%, 80ch);
  padding-inline: 2rem;
  margin-inline: auto;
  margin-bottom: 15rem;

  text-align: center;

}

.bibliography {
  text-align: center;
  padding-left: 20rem;
  padding-right: 10rem;
  margin-bottom: 15rem;
}

.footnotes{
  position:absolute;
  width:calc(100vw - 40rem);
  left:80%;
  font-family: "Georgia";
  font-size: 0.9rem;
  width: 12rem;
  color:darkslategray;
}


label.sidenote-number {
  display: inline-block;
  max-height: 2rem;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.container {
/* display: flex; */
flex: 1;
width: 100vw;
}

.column1, .column2, .column3 {

  padding: 20px;
}

.column1 {
/*  background-color: #f0f0f0;  Background color for the first column */
  position: sticky;
top: 0.875rem;
width: 15%;
align-self: flex-start;
padding-left:2rem;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
float: left;

}

.column1 ul a {
  color: black;
  text-decoration: none;
}
.column1 ul a:hover {
  text-decoration: underline;
}
.column1 ul a.active {
  color: brown;
  font-size: 17px;
}

.column2 {
/*   background-color: #e0e0e0; /* Background color for the second column */
  padding-inline: 0;
  width: 100%;
}

.column2 section {
  padding-inline: calc(15% + 20px) calc( 25% + 20px);
}
.column2 section h2:first-child {
  margin-top: 0;
}
.column2 .transition {
  --from: transparent;
  --to: transparent;

  height: 350px;
  margin: 0;
  background-image: linear-gradient(180deg, var(--from), var(--to));
}

.column2 .image-hover {
  position: relative;
  /* font-size: 2em; */
  color: rgb(107, 106, 106);
  white-space: auto;
  display: inline-block;
  
}

.column2 .image-hover > img,
.column2 .image-hover > figure { 
  position: absolute;
  color: black;
  box-sizing: border-box;
  
  top: 100%;
 

  width: 500px;

  display: none;
}

.column2 .image-hover > figure > * { 
  width: 500px;
  height: auto;
  
}
.column2 .image-hover:hover > img,
.column2 .image-hover:hover > figure { 
  display: inline-block;
  box-sizing: border-box;
 
  z-index: +1;
  background-color: white;
  padding: 20px;
  font-size: 0.8rem;
margin-right: 5%;

 
}


.column3 {
/*  background-color:antiquewhite;  Background color for the second column */
  width: 25%;
  font-size: 14px;

}
/* element.style {
  display: block;
}
.footnotes {
  order: 1;
  position: sticky;
  top: 0;
  height: 100%;
  padding-top: 8.5rem;
  width: 25vw;
  font-size: 0.8rem;
   background-color: aqua; 
} */


/*
#chapter-1 {
  background-color: #f0f0f0; /* Stel de achtergrondkleur van het eerste hoofdstuk in 
} */

/*
#chapter-2 {
  background-color: #eaeaea; /* Stel de achtergrondkleur van het tweede hoofdstuk in 
} */

/* 
#chapter-3 {
  background-color: #f2e8e8; /* Stel de achtergrondkleur van het eerste hoofdstuk in 
} */

/*
#chapter-4 {
  background-color: #eaeaea; /* Stel de achtergrondkleur van het tweede hoofdstuk in 
} */

/*
#conclusion {
  background-color: #f4d4d4; /* Stel de achtergrondkleur van het eerste hoofdstuk in 
} */

/* 
#bibliography {
  background-color: #f6c9c9; /* Stel de achtergrondkleur van het tweede hoofdstuk in 
} */


div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
  padding-right: 20%;
  padding-left: 20%;
  text-align: center;
  
}

/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}





/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */



  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }

}

body {
  font-size: 16px;
}

.page-wrapper {
  margin: 0 4rem;
}

header {
  /* margin: 0 5rem; */
  text-align:center;
   padding: 1rem 0; 
   padding-top: 7rem 0;
  width: 100vw;
}

header > p {
  position:relative;
color:black;
font-size: min(2rem, 4vw); /* 2rem; */
padding-bottom: 12rem;
padding-inline: 2rem;
font-family: 'MIASMA';
letter-spacing: 4px;
text-wrap: balance;
}







header > h1 {
/*  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1; */
width: min(20ch, 100%);
text-wrap: balance;
font-size: 10vw;/* 8rem; */
margin: auto;
padding-top: 6rem;
padding-bottom: 2rem;
font-family: 'FranciscoLucas';
}
/* Dit is waar de animatie in werking word gezet
position: relative;
overflow: hidden;
background: linear-gradient(90deg, #000, rgb(161, 161, 161), #000);
background-repeat: no-repeat;
background-size: 80%;
animation: animate 15s linear infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: rgba(255, 255, 255, 0);
 */

/* s */


p {
  line-height: 1.5;
  padding-bottom: 60px;
}



h2 {
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 0px;
  letter-spacing: 6px;
 
  text-align: center;
}

h3 {
  padding-bottom: 5em;
  text-align: center;
  max-width: 50ch; /* 55 characters */
  margin: 0 auto; /* Horizontaal centreren */
 font-size: 23px;
 font-family:Georgia, 'Times New Roman', Times, serif;
  
}

figure {
  margin: 0rem 0rem 1rem;
  margin-block: .5rem;
  font-style: italic;
  color:grey;
  font-size: 0.9rem;
}
figcaption {
  margin-block: .5rem;
  font-style: italic;
padding-right: 2.5rem;

}
figcaption > p {
  color:grey;
}

blockquote {
 margin: 3rem 3rem 3rem 5rem;
}


/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {
  

   /* your overriding css properties here */

}

html {
  font-size: 16px;
}
/*@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
 @media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
    
  }
} /*

/*body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
} /*



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}




/* Adds dark mode */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #151515;
      color: #ddd;
  }
}
@media screen and (max-width: 1000px) {
  .column1 {
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--color-background);
  }
  .column1 ul {
    /* width: min(100%, 60ch); */
    margin-inline: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
  }

.column2 {
width: 100%;
overflow:hidden;
padding: 0;
margin: 0;
}


  .column2 section {
    padding-left: 2rem;
    padding-inline: calc(1% + 20px) calc(1% + 20px);
  }
  }


@media screen and (max-width: 840px) {

  .column1 ul {
    margin-inline: 0;
/*   width: min(100%, 60ch);
   justify-content: flex-start; */
  }
}
@media (max-width: 760px) {
  
label {
  cursor: pointer; }
}

@media only screen and (max-width: 767px) {
  .column3 {
    display: none;
  }
  
}

@media only screen and (max-width: 767px) {
.column2 .image-hover > img,
.column2 .image-hover > figure { 
  position: relative;
  color: black;
  top: 100%;

  width: 100%; /* Afbeeldingen nemen de volledige breedte van de container in op mobiele apparaten */
  height: auto;
}
}

@media only screen and (max-width: 767px) {
.column2 .image-hover > figure > * {

  width: 80vw; /* Afbeeldingen nemen de volledige breedte van de container in op mobiele apparaten */
  height: auto;
  
  
}
}

@media (max-width: 768px) {
  /* Verberg het woord "Chapter" */
  .chapter {
    font-size: 0; /* Maak de tekstgrootte nul */
  }

  /* Toon alleen de nummers 1 t/m 5 */
  .chapter:before {
    content: attr(data-chapter-number); /* Gebruik het data-attribuut voor de nummers */
    font-size: initial; /* Herstel de oorspronkelijke tekstgrootte */
  }
}



@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link, .tufte-underline, .hover-tufte-underline:hover {
      background-position-y: 87%, 87%, 87%;
  }
}

a:link::selection,
a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

.sidenote,
.marginnote {
  display: block;
  position:absolute;
  width:calc(100vw - 40rem);
  left:80%;
  font-family: "Georgia";
  font-size: 0.9rem;
  width: 12rem;
  color:darkslategray;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
  color: darkslategray;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
  width:calc(100vw - 40rem);
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03em;
}

code, pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear:both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  

  hr,
  section > p,
  section > footer,
  section > table {
      width: 100%;
  }

  pre > code {
      width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
      width: 90%;
  }

  figure {
      max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
      margin-right: 0%;
      max-width: none;
  }

  blockquote {
      margin-left: 1.5em;
      margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
      width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
      display: inline;
  }

  .sidenote,
  .marginnote {
      display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
  }

  label {
      cursor: pointer;
  }

  div.table-wrapper,
  table {
      width: 85%;
  }

  img {
      width: 100%;
  }
}